<b>{{pokemonArr.[0]}} vs. {{ pokemonArr.[1]}}</b><br>
<div>
    <img src={{ spriteOne }}>
    <img src={{ spriteTwo }}>
</div>



<div class="table">
    <table>
        <tr>
            <th>Type</th>
            <th>MoveSet</th>
        </tr>
        {{#each result.moveMap}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </table>
</div>

<br><i># of Super Effective Moves: {{ result.count }}</i>